@if (!publicacion.baneado) {
  <div class="publicacion-card">
    <div class="usuario-nombre">
      <span>
        <a [routerLink]="['/perfil', publicacion.idUsuario]"> {{publicacion.nombreUsuario}}</a>
      </span>
    </div>
    <div class="image-container">
      <img [src]="publicacion.urlFoto" alt="Foto de usuario">
    </div>

    <div class="likes-info">
      <p>{{publicacion.descripcion}} </p>
    </div>

    <div class="likes-info">
      <p>LIKES: {{ publicacion.likes.length }}</p>
      <p>PUNTOS FIZZER: {{ publicacion.puntosFizzer.length }}</p>
      <div *ngIf="currentUserId && publicacion.idUsuario.toString() === currentUserId && publicacion.id" class="actions">
      <button class="btn-editar" (click)="onEditar(publicacion.id.toString())">
        🖉 Editar
      </button>
      <button class="btn-borrar" (click)="onBorrar(publicacion.id.toString())">
        🗑️ Borrar
      </button>
    </div>
    </div>

    <div class="buttons-container">

      <button class="like-button" [ngClass]="{ 'activo': likeAgregado }" (click)="toggleLike()"> Like </button>


      <button class="punto-button" [ngClass]="{ 'activo': puntoFizzerAgregado }" (click)="togglePuntoFizzer()" > Punto Fizzer </button>


    </div>
    <div class="report-container">
      <button class="report-button" (click)="reportarPublicacion()">REPORTAR</button>
    </div>

  </div>

} @else {
<h2>PUBLICACION BANEADA</h2>
}


