.contenido {
  margin-left: 80px;
  padding: 60px;
  font-family: Arial, sans-serif;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
}

.profile-container {
  display: flex;
  background-color: #4b4b4b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  align-items: center;
}

.image-container img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.description-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #999;
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 100%;
  position: relative; /* Necesario para que el botón se posicione dentro /
  height: 100%; / Asegura que el contenedor ocupe todo el espacio necesario */
}

.description-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.description-container p {
  font-size: 1em;
  line-height: 1.5;
}
.report-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.report-button:hover {
  background-color: darkred;
}