<app-barra-verde-admin></app-barra-verde-admin>
<div class="contenido-tareas">
<h2>FILTRAR TAREAS</h2>

@for (item of listaTareasPorFiltar; track $index) {
  @if (!item.aceptada) {
    <div class="tarea">
    <p><strong>ID:</strong> {{item.id}}</p>
      <p><strong>Titulo:</strong> {{item.titulo}}</p>
      <p><strong>Categoria:</strong> {{item.categorias}}</p>
      <p><strong>Descripcion:</strong> {{item.descripcion}}</p>
      <p><strong>Creador:</strong> {{item.creador}}</p>

      <button class="aceptar" (click)="aceptarTarea(item.id)">Aceptar</button>
      <button class="rechazar" (click)="eliminarTarea(item.id)">Rechazar</button>
    </div>

  }

}
</div>

