<div class="barra-superior">
  <img src="https://res.cloudinary.com/dolip28nf/image/upload/v1731625859/fu6ncb41kczf8eaawwrc.jpg" alt="Logo-fizzer" class="logo">
  <div class="search-bar">
      <input type="text" placeholder="Buscar..." />
      <button class="search-btn">🔍</button>
    </div>
    
  <div class="botones">
  <button [routerLink]="'/perfil'">Mi Perfil</button>
  <!-- <button [routerLink]="'/login'">Cerrar Sesion</button> -->
  <button id="logoutButton" (click)="cerrarSesion()">Cerrar Sesión</button>
  </div>

</div>
<div class="barra-lateral">

<button class="camera-button" [routerLink]="'/formulario-publicacion'">📷</button>

</div>S
