
<body>
    <div class="form-container">
        <h2>Registro</h2>

        <form [formGroup]="formularioRegister" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="NOMBRE" class="input-field" formControlName="nombreUsario">
        
        <div>
        <input type="text" #inputContra placeholder="CONTRASEÑA" class="input-field" formControlName="contraseniaUsuario">
            
        </div>
         <button class="button" type="submit" [disabled]="formularioRegister.invalid">Registrarse</button>
       
        <a href="/login" class="link">¿Ya tienes cuenta? Inicia sesión aquí</a>
    </form>
   
    </div>
</body>


